.card {
    background-color: #ffffff;
    margin: 30px auto;
    width: 350px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #bdbdbd;
}


.card__image {
    background: url("src/image/jewelry.jpg");
    background-size: cover;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    max-width: 400px;
    height: 200px;
}
.card__list {
    padding:0 15px;
    display: flex;
    height: 180px;
    flex-direction: column;
   justify-content: space-between;
}
.card__brand {
    padding-top: 10px;
}
.card__name {
    color: #000;
    font-size: 18px;

}
.card_id {
    font-size: 12px;
    color: #a8a0a0;
}
.card_price {
    font-size: 26px;
    
}
