/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  src: url(/_next/static/media/JetBrainsMono-VariableFont_wght_1.209df6ba.woff) format('woff');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  src: url(/_next/static/media/JetBrainsMono-VariableFont_wght.209df6ba.woff) format('woff');

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: 'JetBrainsMono';
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.title {
  margin: 0 auto;
  font-size: 3rem;
  margin: 30px auto;
}
.pagination {
  padding-bottom: 50px;
}
.pagination_btn {
  padding: 5px 15px;
  background-color: rgb(218, 218, 226);
  border: none;
  border-radius: 5px;
}
.pagination_btn:first-child {
  margin-right: 10px;
}
.pagination_btn:last-child {
  margin-left: 10px;
}

@media (max-width: 425px) {
  .title {
    font-size: 2rem;
  }
  .container {
    gap: 0;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/card/card-products.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.card-products_card__iCgTh {
  background-color: #ffffff;
  margin: 30px auto;
  width: 350px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px 30px #bdbdbd;
}

.card-products_card__image__Nfr8O {
  background-size: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-width: 400px;
  height: 200px;
}
.card-products_card__list___lTXY {
  padding: 0 15px;
  display: flex;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}
.card-products_card__brand__cr1oQ {
  padding-top: 10px;
  
}

.card-products_card__name__aPtQn {
  color: #000;
  font-size: 18px;
}
.card-products_card_id__rlh44 {
  font-size: 12px;
  color: #a8a0a0;
}
.card-products_card_price__OOrKO {
  font-size: 26px;
}

@media (max-width: 768px) {
  .card-products_card__iCgTh {
    width: 320px;
    height: 370px;
  }
  .card-products_card__name__aPtQn {
    font-size: 16px;
  }
  .card-products_card_price__OOrKO {
    font-size: 22px;
  }
  .card-products_card__list___lTXY {
    height: 160px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/loader/loader.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.loader_container_loader__d72a9 {
  margin: auto;
}
.loader_loader_text__SAj9C {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .loader_loader_text__SAj9C {
    font-size: 1.5rem;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/404/404.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.__404_not__found___GZsr {
  font-size: 3rem;
  margin: auto;
}
@media (max-width: 768px) {
  .__404_not__found___GZsr {
    font-size: 1.2rem;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/filter/filter-products.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.filter-products_filters__SfSIg {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.filter-products_filters__input__SeLEz {
  font-size: 18px;
  padding: 0 10px 5px 5px;
  display: block;
  width: 230px;
  border: 1px solid #757575;
  border-radius: 5px;
  margin-bottom: 15px;
}
.filter-products_filters__input__SeLEz:focus {
  outline: none;
}

.filter-products_button__v0wu0 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, transform 0.1s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  width: auto;
}
.filter-products_button__v0wu0:hover {
  background-color: #000000;
  color: #ffffff;
}
.filter-products_button__v0wu0:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.filter-products_button__v0wu0:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.filter-products_button__v0wu0:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
.filter-products_filters__select__2uCE_ {
  position: relative;
  outline: none;
  border: none;
  width: 12rem;
  height: 2.5rem;
  line-height: 1;
  text-align: center;
  font-size: 1rem;
  background: #e7cc80;
  color: #4b4747;
  overflow: hidden;
  border-radius: 0.35rem;
}

@media (max-width: 1280px) {
  .filter-products_filters__SfSIg {
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .filter-products_filters__select__2uCE_ {
    width: 8rem;
    font-size: 0.75rem;
  }
  .filter-products_button__v0wu0 {
    font-size: 0.75rem;
    padding: 8px 8px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Modal/product-modal.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.product-modal_popup_overlay__EyGBM {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.product-modal_popup_content__veLsP {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 50px;
  border-radius: 5px;
  max-width: 100%;
  max-height: 90%;
  overflow: auto;
  z-index: 1001;
}
.product-modal_popup_btn__8_PKP {
  align-self: end;
  border: none;
  background: transparent;
  font-size: 22px;
}

